<% provide(:title, 'Create an account') %>
<div class="col-xs-12">
<h1 class="users-header">Users</h1>  

<div class="new-user-btn pull-right"><%= link_to 'Create an account', new_user_path, class: "btn btn-xs btn-success" %>
	</div>


<% @user.each do |user| %>

	<p><%= link_to user.name, user, class:"btn btn-primary" %> - <%= user.email %></p>


<% end %>


</div>