
<div class="col-xs-12">

	<% if logged_in? %>
	<%= link_to "Users", '#' %>
	<%= link_to "Log Out", logout_path, method: :delete %>
	<% else %>

	<% end %>


	<h1>User Profile</h1>
	<p><%= @user.name %></p>
	<p><%= @user.email %> </p>
</div>
