<div class="container content">
  <div class="row">
    <div class="col-xs-12">
      <h1>About us</h1>
      <div class="about">
      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere expedita quaerat dolorum, eius tempora aspernatur, ipsam ipsa ab incidunt vitae, illum, quidem ratione quas iusto nesciunt dicta magnam iure aliquam?</p>
	      <p>Non voluptate fugit aspernatur, doloribus laudantium nesciunt unde ad quis ut reiciendis itaque assumenda perspiciatis modi magnam saepe quia consectetur aperiam vero cumque provident necessitatibus. Dolor quam accusantium ducimus recusandae!</p>
	      <p>Eos officiis asperiores possimus perferendis unde officia blanditiis, dolorem et laboriosam qui vitae, inventore facere exercitationem rem ab, saepe voluptates dolorum repellendus sed voluptatibus quidem, ad sunt. Laborum, ullam, dolores!</p>
	  </div>
    </div>
  </div>
</div>