<div class="container content">
	<div class="row">
		<div class="col-xs-12">
			<h1>Contact us</h1>


				<%= form_tag({controller: "welcome_controller", action: "contactMe"}, method: "get", class: "nifty_form") do %>
				  <%= label_tag(:q, "Search for:") %>
				  <%= text_field_tag(:q) %>
				  <%= submit_tag("Search") %>
				<% end %>
		</div>
	</div>
</div>

