// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    	.list-group{
    		margin-right: 0%;
    	}
    }

    .tasks-header{

        display: inline-block;
    }
    .new-task-btn{
        margin-top: 25px;
    }


    .task-title{
    	width: 30%;
    }

    .task-desc{
    	width: 60%;
    }

    .task-complete{
    	width: 10%;
    }

    .nav-tabs {
    border-bottom: 0px solid #ddd;
}
    .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
    .list-group-item:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

.pause-btn, .reset-btn, .start-btn{
    margin-right: 1em;

}

