// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .users-header{

        display: inline-block;
    }

.new-user-btn{
        margin-top: 25px;
    }
.new-user-form{
	
	margin-right: 50%;
}